body {
  min-width: 302px;
}

@mixin place-middle($size: 0) {
  height: ($size)+px;
  width: ($size)+px;
  left: 50%;
  margin-left: -($size / 2)+px;
}

@mixin place-center($size: 0){
  @include place-middle($size);
  margin-top: -($size / 2)+px;
  position: absolute;
  top: 50%;
}

.landingImage {
  @include place-center(256);
  opacity: 0.2;
}

.moreSpinner {
  @include place-middle(40);
  position: relative;
  margin: 20px 0;
}

.loadingSpinner {
  @include place-center(40);
}

.noResultsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 100px;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
  h5 {
    margin-bottom: 10px;
  }
}

.photosContainer {
  margin-top: 20px;
  position: relative;
  transition: all 0.2s ease-in;
  &.inactive {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}
