body {
  min-width: 302px;
}

@mixin place-center($size: 0){
  height: ($size)px;
  left: 50%;
  margin-left: -($size / 2)+px;
  margin-top: -($size / 2)+px;
  position: absolute;
  top: 50%;
  width: ($size)+px;
}

.landingImage {
  @include place-center(256);
  opacity: 0.2;
}

.loadingSpinner {
  @include place-center(40);
}

.noResultsContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-top: 50px;
  margin: 0 auto;
  overflow-wrap: break-word;
  text-align: center;
  word-wrap: break-word;
  h5 {
    margin-bottom: 10px;
  }
}

.photosContainer {
  margin-top: 20px;
  position: relative;
  transition: all 0.2s ease-in;
  &.inactive {
    filter: grayscale(100%);
    opacity: 0.5;
  }
}
